.btn{
    padding: 4px 24px;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.btn-primary{
    background-color: var(--color-primary);
    color: var(--grey-4);
    transition: 0.3s;
}

.btn-primary:hover{
    background-color: var(--color-primary-2);
    transition: 0.3s;
}

.btn-line{
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    transition: 0.3s;
}

.btn-line-red{
    color: var(--red);
    border: 1px solid var(--red );
    transition: 0.3s;
}

.btn-green{
    background-color: var(--green);
    color: var(--grey-4);
    transition: 0.3s;
}

 