.container-cards {
    display: flex;
    flex-wrap: wrap;
    width: 52%;
    margin: 0 auto;
    justify-content: space-between;
    gap: 0;
}

.card {
    width: 12.5rem;
    height: 17rem;
    box-shadow: 0px 0px 5px rgba(78, 32, 150, 0.25);
    border-radius: 4px;
    background-color: var(--grey-4);
}

.card-image {
    border-radius: 4px 0 0 4px;
    height: 50%;
    width: 100%;
    object-fit: cover;
}

.card-text {
    padding: 16px;
}

.gap-card {
    gap: 3rem;
}

@media (max-width: 600px) {
    .container-cards {
        justify-content: center;
    }
}