/* body{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(121,90,9,1) 0%, rgba(0,212,255,1) 100%);
    background-attachment: fixed;
} */
.header{
    height: 5rem;
    width: 100%;
    border-bottom: 1px solid var(--grey-3);
    background-color: var(--grey-4);
}

.gap-btn-header{
    gap:12.5px
}

.footer{
    height: 3rem;
    background-color: var(--color-primary-3);
    margin-top: 5.125rem;
}

.margin-top-cards{
    margin-top: 6.625rem;
}