* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    /* border-top: 1px solid var(--grey-3); */
    display: flex;
    justify-content: center;
    padding-top: 111px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 34px;
}

li {
    display: flex;
    width: 211px;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgba(78, 32, 150, 0.25);
    border-radius: 4px;
    gap: 16px;
    padding-bottom: 16px;
}

li > div{
    padding: 0 16px;
    width: 100%;
    word-wrap: break-word;
}

li > img{
    width: 100%;
    height: 170px;
    object-fit:fill;
}

li>button{
    align-self: center;
    width: fit-content;
}

footer{
    margin-top: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    background-color: var(--grey-5);
}

@media (max-width: 600px)
{
  body{
    width: 100vw;
  }

  header{
    width: 100%;
    padding: 0;
    margin: 0;
  }
  section{
    padding-top: 50px;
  }

  ul{
    justify-content: center;
  }
}
