.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

.wrap {
    flex-wrap: wrap;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-start {
    align-items: flex-start;
}

.align-self-center {
    align-self: center;
}